name: terraform-ci

on:
  pull_request:
    paths:
      - "terraform/**"
      - ".github/workflows/terraform.yml"

  push:
    branches:
      - main
    paths:
      - "terraform/**"
      - ".github/workflows/terraform.yml"

permissions:
  contents: read
  id-token: write

jobs:
  terraform:
    name: Terraform fmt/validate/plan
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash
        working-directory: terraform

    env:
      AWS_REGION: ap-south-1
      AWS_ROLE_TO_ASSUME: ${{ vars.AWS_ROLE_ARN }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.6.6"

      - name: Terraform fmt
        run: terraform fmt -check -recursive

      - name: Terraform init (no backend for CI)
        run: terraform init -backend=false

      - name: Terraform validate
        run: terraform validate